        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;   
        }
         header {
            display: block;
            position: fixed;  
            left: 0;
            right: 0;   
            background:white;
            padding: 20px 0px;
            height: 20px;
            z-index: 1; 
         }          
         .tab-panels ul li{  
            list-style-type: none;
            display: inline-block; 
            margin-right: 0;
            padding: 3px 10px;
            border-radius:0;
            color: black;
            font-weight: 100;
            cursor: pointer;
            position: relative;
         }
         li::after{
            content:"";
            position: absolute;
            left:50%;
            bottom: -10px;
            height:1px;
            width: 0;
            background-color: black;
            transition: 0.3s ease, left 0.3s ease;
            transform: translateX(-50%);
        }
         .tab-panels ul li.active:hover::after{
            width: 100%;
            color: black;
            /* background: #666; */
         }
         .tab-panels .panel{
            display: none;
            background: white;
            padding: 30px;
            flex-direction: row;
            border-bottom: 1px solid;
            border-color:lightgray;
            border-radius:0 0 5px 5px;
         }
         /* testing */
         .tab-panels .panel.active{
            display: none;
         }
         .tabs {
            font-size: 15px;
            margin: 0 0 0 15px;  
            padding: 0;
            display: flex;
            position: relative; 
            list-style: none;
            height: 40px;       
         }       

         /* Panel tabs */
         .contents{
            margin-right:60px;          
         } 
         .contents p{ color: darkgray;}
         .contents li{
            margin-bottom: 10px; ;
            list-style-type: none;
            
         }
          .lastone{
            border: 0px solid white;
            box-shadow: 0 0 10px;
            border-radius: 50%;
            margin-left: auto; 
            margin-right: 100px;           
            background-repeat: no-repeat;
            background-image: url('Images/g2.png');
            background-position: center;
            background-size: 200px;
            width: 200px;
            height: 200px;
            
         }
         .contents li a
         {
            color: black;
            text-decoration: none;
         }

         /* end */
          ul .logo{
        display:inline-block;
        background-repeat: no-repeat;
        background-image: url('Images/gblogo2.png');
        background-position: center;
        background-size: 160px;
        width: 150px;
        height: 30px;
        text-indent: -99999999px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);        
    }    

/* body */
    button{ 
      padding: 10px 15px; 
      cursor: pointer; 
      margin: 10px 15px;  
      border-radius: 50%; 
      border: none; 
   }
   .btn{
       position: absolute;
       /* top: 25px; 
       left:10px;    */
   } 
/* Large main background images */
         section{
            background:white;
            color: black;
            padding: 20px;
            display:flex;
            flex-direction: row; 
         }  
         
         .heros{
            background-color: black;
            height: 690px;
            background-size: 100%;
            background-position: center;     
            background-repeat: no-repeat;       
            text-indent: -999999px; 
            display: flex;
            flex-direction: column; 

         }
         .hero{
            background-image: url("Images/IMG_0291.jpg");
         }
         .hero1{ 
            background-image: url("Images/IMG_0289.jpg");
         }
         .hero2{ 
            background-image: url("Images/IMG_0290.jpg");
         }
         .img-descriptions{
            margin-top: auto;
            color: white;
            text-indent: 0px;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 900;
         }
         .img-subcaption{
            color:white;
            text-transform: initial;
            font-weight: 300;
            font-size: small;
            text-indent: 0px;
         }
         .img-link{
            color: white;
            text-indent: 0px;
            font-size: 1.3rem;
         }
         /* this causes all product to align right */
         #productslides1, #productslides2{
          background-color: white;
            display: flex;
         }
         .productslider { 
            /* position: relative; */
            /* height: 500px;  */
            overflow: hidden;
            background-color: white;
            color: black;
            padding: 20px;         
            text-transform: uppercase; 
               }
         .productslider figure{
            float: left;
            margin: 60px 5px;

         }
         .productslider figure img{
            border: 1px solid white;
            border-radius: 2%;
            box-shadow: gray 0 0 10px; 
            height: 300px;
            width: 200px;
         }    


/* Main Titles Between Sections */
main{
   margin: 5% 1%; 
   text-transform: uppercase;
   font-weight:bolder ;
   font-size: 1.5rem;
   
}
       
/* Collections, Workouts, Caategories img */
         .collections, .workouts, .categories {
            display: flex; 
            margin: 1%;
         }
         .collection, .workout, .category{
            flex-wrap: nowrap;
            height: 410px;
            width: 5000px;
            background-color: black;
            color: white;
            margin: 2px;
            text-indent: -99999999px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            
         }
         .winter{background-image: url("Images/IMG_0286.jpg");}
         .spring{background-image: url("Images/IMG_0286.jpg");}
         .summer{background-image: url("Images/IMG_0286.jpg");}
         .fall{background-image: url("Images/IMG_0286.jpg");}
         .lifting{background-image: url("Images/IMG_0286.jpg");}
         .running{background-image: url("Images/IMG_0286.jpg");}
         .swimming{background-image: url("Images/IMG_0286.jpg");}
         .hiit{background-image: url("Images/IMG_0286.jpg");}
         .men{background-image: url("Images/IMG_0286.jpg");}
         .women{background-image: url("Images/IMG_0286.jpg");}
         .accessories{background-image: url("Images/IMG_0286.jpg");}
/* Text at the bottom of the page */
         
         .highlights{
            display: flex;
            flex-direction: column;
            padding: 100px;
         }   
         .h-text{
            text-transform: uppercase;
            font-weight: 900;
         }
         .descriptions{
             font-size: small; 
         }      
       
         footer{
           
            
            border-top: 1px solid;
            border-color:lightgray;
            border-radius: 5px 5px;
            /* height: 50px; */
            
         }
         footer ul{
            display: flex;
            list-style-type: none;
            margin:0;
            padding:17px;
            justify-content: flex-end;
            
         }
         footer ul li{ 
            margin-right: 20px;            
         }
         footer ul li a{
            font-size: small;
            font-weight:600; 
            color:rgba(11, 11, 11, 0.643);
            text-decoration: none;
         }
         footer ul li a:hover{
            color: black;
         }
        

/* media query reesponsive rules */

/* womens mens toggle button */
 /* div .hide, div .hide{display: none;}      */

/* you can add two arguments to the media screen this is homwwork and fix responsiveness */

 @media screen and (max-width: 1350px) {
      .collection, .workout, .main-1, .main-2
         { display: none;}
     /* header .logo
         { margin: 20px 10px;} */
     .heros
         {height: 500px;}
     .collection, .workout, .category
         {height: 250px;}

} 
@media screen and (max-width: 750px) {

      .tab-panels ul li, .highlights, .img-subcaption, .main-1,
     .main-2, .collection, .workout
         { display: none;}
     /* header .logo
         { margin: 20px 10px;} */
     .img-descriptions, .img-link
         { font-size: small;}
     .heros
         {height: 200px;}
     .collection, .workout, .category
         {height: 100px;}
   
} 
@media screen and (max-width: 400px) {

      .highlights, .img-subcaption, .main-1,
     .main-2, .collection, .workout
         { display: none;}
     .img-descriptions, .img-link
         { font-size: small;}
     .heros
         {height: 140px;}
     .collection, .workout, .category
         {height: 55px;}
   
} 


@media screen and (max-width: 250px) {

      .highlights, .img-subcaption, .main-1,
     .main-2, .collection, .workout
         { display: none;}
     .img-descriptions, .img-link
         { font-size: small;}
     .heros
         {height: 140px;}
     .collection, .workout, .category
         {height: 55px;}
   
}  

